node-red/flows.json
[{"id":"ff5dee0f.b55b5","type":"tab","label":"Baby Bouncer","disabled":false,"info":""},{"id":"329a6d0c.defab2","type":"tab","label":"Humidity","disabled":false,"info":""},{"id":"63c71c5f.ed2ac4","type":"server","z":"","name":"Home Assistant"},{"id":"299dc613.77e94a","type":"server-state-changed","z":"ff5dee0f.b55b5","name":"Baby Bouncer Change","server":"63c71c5f.ed2ac4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.baby_bouncer","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":160,"wires":[["6e1cbce2.045944"]]},{"id":"6e1cbce2.045944","type":"api-call-service","z":"ff5dee0f.b55b5","name":"Set PWM Delay","server":"63c71c5f.ed2ac4","version":1,"debugenabled":false,"service_domain":"esphome","service":"esp32_1_set_gpio13_pwm_delay","entityId":"","data":"{\"speed\":\"{{ entity.input_number.baby_bouncer | int }}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":160,"wires":[[]]},{"id":"a03f88fe.a851c8","type":"api-current-state","z":"329a6d0c.defab2","name":"Current State Switch Off","server":"63c71c5f.ed2ac4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_1_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":300,"wires":[["d5faa64d.49fd98"],[]]},{"id":"d5faa64d.49fd98","type":"api-call-service","z":"329a6d0c.defab2","name":"Turn On Humidifier","server":"63c71c5f.ed2ac4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_s31_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":300,"wires":[[]]},{"id":"647a3d22.7feef4","type":"api-current-state","z":"329a6d0c.defab2","name":"Current State Switch On","server":"63c71c5f.ed2ac4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_1_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":180,"wires":[["fa060018.5eab2"],[]]},{"id":"fa060018.5eab2","type":"api-call-service","z":"329a6d0c.defab2","name":"Turn Off Humidifier","server":"63c71c5f.ed2ac4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_s31_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":180,"wires":[[]]},{"id":"ee4573ee.1c574","type":"server-state-changed","z":"329a6d0c.defab2","name":"Humidity Change","server":"63c71c5f.ed2ac4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.master_bedroom_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["723bc947.f173a8"]]},{"id":"723bc947.f173a8","type":"switch","z":"329a6d0c.defab2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":240,"wires":[["647a3d22.7feef4"],["a03f88fe.a851c8"]]}]
