node-red/flows.json
[{"id":"e5366804.e2d488","type":"tab","label":"Humidity","disabled":false,"info":""},{"id":"bbb50720.f88368","type":"tab","label":"Temperature Control","disabled":false,"info":""},{"id":"8b5e1b69.7c8048","type":"tab","label":"Living Room Light Switch","disabled":false,"info":""},{"id":"32ba76f4.c7286a","type":"tab","label":"Flux","disabled":false,"info":""},{"id":"a473e276.79e8","type":"tab","label":"Double Throw Light Switch","disabled":true,"info":""},{"id":"2d36f17e.856d8e","type":"tab","label":"Baby Bouncer","disabled":false,"info":""},{"id":"d16fa6b7.31d7a8","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"108f101b.6bbd3","type":"api-current-state","z":"e5366804.e2d488","name":"Current State Switch Off","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_1_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":300,"wires":[["3e2847ad.02be88"],[]]},{"id":"3e2847ad.02be88","type":"api-call-service","z":"e5366804.e2d488","name":"Turn On Humidifier","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_s31_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":300,"wires":[[]]},{"id":"c4b427d4.621a48","type":"api-current-state","z":"e5366804.e2d488","name":"Current State Switch On","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_1_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":180,"wires":[["c444cc7d.ed5e2"],[]]},{"id":"c444cc7d.ed5e2","type":"api-call-service","z":"e5366804.e2d488","name":"Turn Off Humidifier","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_s31_1_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":180,"wires":[[]]},{"id":"b45fc18.5ee9e4","type":"switch","z":"e5366804.e2d488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lt","v":"40","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":240,"wires":[["c4b427d4.621a48"],["108f101b.6bbd3"]]},{"id":"a8b154cf.b754e8","type":"server-state-changed","z":"e5366804.e2d488","name":"Humidity Change","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.master_bedroom_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":240,"wires":[["85cc558.481bea8"]]},{"id":"85cc558.481bea8","type":"api-current-state","z":"e5366804.e2d488","name":"Is Humidity Control on","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.humidity_control","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":300,"y":240,"wires":[["b45fc18.5ee9e4"],[]]},{"id":"24b4d3d9.02ac0c","type":"api-call-service","z":"8b5e1b69.7c8048","name":"Light Service","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"$.msg.payload","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":490,"y":360,"wires":[[]]},{"id":"f0976c3a.829","type":"function","z":"8b5e1b69.7c8048","name":"Set light brightness","func":"const state = msg.payload;\n\nreturn {\n        payload: {\n            entity_id: \"light.living_room_lights\",\n            brightness: state === \"on\" ? 255 : 0\n        }\n    };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["24b4d3d9.02ac0c"]]},{"id":"e7372866.42c428","type":"switch","z":"8b5e1b69.7c8048","name":"Was not unavailable","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"neq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":240,"wires":[["f0976c3a.829"]]},{"id":"32017da6.3f2b62","type":"server-state-changed","z":"8b5e1b69.7c8048","name":"Switch On/Off","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_light_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":180,"wires":[["e7372866.42c428"]]},{"id":"b72c7c1e.8e957","type":"range","z":"32ba76f4.c7286a","minin":"0","maxin":"100","minout":"400","maxout":"180","action":"clamp","round":true,"property":"colorTempPercent","name":"Percent to Color Temp","x":500,"y":300,"wires":[["2caae5b2.3e2b0a"]]},{"id":"475ddc3c.5bf3e4","type":"inject","z":"32ba76f4.c7286a","name":"Every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":710,"y":60,"wires":[["4aa33115.a2703","f25f3e81.975fc"]]},{"id":"a29e28a6.3d4328","type":"comment","z":"32ba76f4.c7286a","name":"Circadian Lighting (using sun position)","info":"","x":470,"y":20,"wires":[]},{"id":"5b544af3.f52734","type":"server-state-changed","z":"32ba76f4.c7286a","name":"If light on","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^light.","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":120,"wires":[["ec7f3d41.66d9f"],[]]},{"id":"bf6478c8.e4be78","type":"ha-get-entities","z":"32ba76f4.c7286a","server":"d16fa6b7.31d7a8","name":"Get all Lights","rules":[{"property":"entity_id","logic":"is","value":"^light.","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload.lights","output_results_count":1,"x":470,"y":380,"wires":[["b04820a9.40792"]]},{"id":"b04820a9.40792","type":"function","z":"32ba76f4.c7286a","name":"Iterate lights","func":"const { lights, ...rest } = msg.payload;\n\nif(!Array.isArray(lights)) {\n    msg.payload.light = [msg.payload.lights];\n    return msg;\n}\n\nlights.forEach(light => {\n    node.send({\n        payload: {\n            light,\n            ...rest\n        }\n    });\n});","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["f7f9101d.af286"]]},{"id":"4962dc8d.53a3c4","type":"change","z":"32ba76f4.c7286a","name":"Set light to entity_id and attributes","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"light\": $.msg.data }","tot":"jsonata"},{"t":"set","p":"payload.light.attributes","pt":"msg","to":"payload.light.new_state.attributes","tot":"msg"},{"t":"set","p":"payload.light.state","pt":"msg","to":"payload.light.new_state.state","tot":"msg"},{"t":"delete","p":"data","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["51abf4b7.50214c","f7f9101d.af286"]]},{"id":"f7f9101d.af286","type":"switch","z":"32ba76f4.c7286a","name":"Filter lights by \"on\"","property":"payload.light.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":460,"wires":[["d698a01d.6dbe1"]]},{"id":"9a665a4a.612cf8","type":"api-call-service","z":"32ba76f4.c7286a","name":"Set light color_temp","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\t   \"entity_id\" : $.payload.light.entity_id,\t   \"color_temp\": $flowContext(\"color_temp\")\t}","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":640,"y":600,"wires":[[]]},{"id":"b3c001bd.0b3a","type":"trigger-state","z":"32ba76f4.c7286a","name":"All light changes","server":"d16fa6b7.31d7a8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^light.","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":660,"wires":[["b1e0b930.dc0bb8","d632c9a8.4ead68"],[]]},{"id":"b1e0b930.dc0bb8","type":"switch","z":"32ba76f4.c7286a","name":"If color_temp changed","property":"data.event.old_state.attributes.color_temp","propertyType":"msg","rules":[{"t":"neq","v":"data.event.new_state.attributes.color_temp","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":660,"wires":[["f00c2bd2.02ba98"]]},{"id":"d632c9a8.4ead68","type":"switch","z":"32ba76f4.c7286a","name":"If rgb changed","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$.data.event.old_state.attributes.rgb_color \t    != $.data.event.new_state.attributes.rgb_color","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":700,"wires":[["cec78d52.5cd49"]]},{"id":"cec78d52.5cd49","type":"function","z":"32ba76f4.c7286a","name":"Add light to uncontrolled lights","func":"const entity_id = msg.data.entity_id;\nconst uncontrolled_lights = flow.get(\"uncontrolled_lights\");\n\nconst new_uncontrolled_lights = uncontrolled_lights === undefined ?\n    [entity_id] : [...new Set([...uncontrolled_lights, entity_id])];\n\nflow.set(\"uncontrolled_lights\", new_uncontrolled_lights);\nmsg.payload = { uncontrolled_lights: new_uncontrolled_lights };\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[[]]},{"id":"f00c2bd2.02ba98","type":"function","z":"32ba76f4.c7286a","name":"Remove light from uncontrolled lights","func":"const entity_id = msg.data.entity_id;\nconst uncontrolled_lights = flow.get(\"uncontrolled_lights\");\n\nconst new_uncontrolled_lights = uncontrolled_lights === undefined ?\n    [] : uncontrolled_lights.filter(ul_entity_id => ul_entity_id !== entity_id);\n\nflow.set(\"uncontrolled_lights\", new_uncontrolled_lights);\nmsg.payload = { uncontrolled_lights: new_uncontrolled_lights };\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[[]]},{"id":"9463a755.bbd968","type":"function","z":"32ba76f4.c7286a","name":"Is light uncontrolled","func":"const entity_id = msg.payload.light.entity_id;\nconst uncontrolled_lights = flow.get(\"uncontrolled_lights\");\n\nif (uncontrolled_lights === undefined ||\n        !uncontrolled_lights.includes(entity_id)) {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":600,"wires":[["607c5208.c75cdc"]]},{"id":"607c5208.c75cdc","type":"switch","z":"32ba76f4.c7286a","name":"If color_temp is not set already","property":"payload.light.attributes.color_temp","propertyType":"msg","rules":[{"t":"neq","v":"color_temp","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":600,"wires":[["9a665a4a.612cf8"]]},{"id":"2caae5b2.3e2b0a","type":"change","z":"32ba76f4.c7286a","name":"Set flow.color_temp","rules":[{"t":"set","p":"color_temp","pt":"flow","to":"colorTempPercent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["bf6478c8.e4be78"]]},{"id":"ec7f3d41.66d9f","type":"api-current-state","z":"32ba76f4.c7286a","name":"If Main Flux is on","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.main_flux","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":170,"y":200,"wires":[["4962dc8d.53a3c4"],[]]},{"id":"4aa33115.a2703","type":"api-current-state","z":"32ba76f4.c7286a","name":"If Main Flux is on","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.main_flux","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":490,"y":120,"wires":[["e5cbdda0.27bf3"],[]]},{"id":"9299d668.f878a8","type":"server-state-changed","z":"32ba76f4.c7286a","name":"Main Flux turned on","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.main_flux","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":60,"wires":[["e5cbdda0.27bf3"],[]]},{"id":"d698a01d.6dbe1","type":"function","z":"32ba76f4.c7286a","name":"Is not hue group","func":"const is_hue_group = msg.payload.light.attributes.is_hue_group;\n\nif (is_hue_group === undefined ||\n        is_hue_group === false) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":380,"y":500,"wires":[["e9cb5bb8.2f0cc8"]]},{"id":"7164f26b.59e75c","type":"yaml","z":"32ba76f4.c7286a","property":"payload","name":"Parse light.yaml","x":780,"y":160,"wires":[["4802b7e0.b569d8"]]},{"id":"4802b7e0.b569d8","type":"function","z":"32ba76f4.c7286a","name":"Get groups","func":"const entries = msg.payload;\nif (!entries) {\n    return;\n}\n\nreturn {\n    payload: {\n        light_groups: entries.reduce(\n            (light_groups, entry) => {\n                    if (entry.platform === \"group\") {\n                        light_groups.push(\n                            `light.${\n                                entry.name.replace(/\\s/g, '_').toLowerCase()\n                                \n                            }`\n                        );\n                    }\n                    return light_groups;\n                },\n            []\n        )\n    }\n};","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["7dc59a89.c9c194"]]},{"id":"7dc59a89.c9c194","type":"change","z":"32ba76f4.c7286a","name":"Set flow.light_groups","rules":[{"t":"set","p":"light_groups","pt":"flow","to":"payload.light_groups","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":240,"wires":[[]]},{"id":"e9cb5bb8.2f0cc8","type":"function","z":"32ba76f4.c7286a","name":"Is not ha group","func":"const entity_id = msg.payload.light.entity_id;\nconst light_groups = flow.get(\"light_groups\");\n\nif (!light_groups) {\n    return msg;\n}\n\nif (!light_groups.includes(entity_id)) {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["9463a755.bbd968"]]},{"id":"e3304cee.9a5f7","type":"inject","z":"32ba76f4.c7286a","name":"Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":450,"y":60,"wires":[["f25f3e81.975fc","4aa33115.a2703"]]},{"id":"51abf4b7.50214c","type":"file","z":"32ba76f4.c7286a","name":"","filename":"/config/this_log_file.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":180,"y":340,"wires":[[]]},{"id":"f25f3e81.975fc","type":"file in","z":"32ba76f4.c7286a","name":"Read light.yaml","filename":"/config/light.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":780,"y":120,"wires":[["7164f26b.59e75c"]]},{"id":"43bb7d83.5ec894","type":"server-state-changed","z":"a473e276.79e8","name":"Light Switch","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^input_boolean.test_for_light_switch","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":60,"wires":[["7c2de032.a2398"]]},{"id":"7c2de032.a2398","type":"switch","z":"a473e276.79e8","name":"Is on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":60,"wires":[["c6e23df8.ec553"],["28c9b403.a43a2c"]]},{"id":"4c8656e6.d522a8","type":"change","z":"a473e276.79e8","name":"Set state off","rules":[{"t":"set","p":"state","pt":"flow","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["ef4d1cec.8bf57"]]},{"id":"d5f6a7ca.e41c08","type":"function","z":"a473e276.79e8","name":"Set light brightness","func":"let prevState;\nlet count = 0;\n\nconst interval = setInterval(() => {\n    const state = flow.get(\"state\");\n    if (!state ||\n            state === \"off\" ||\n            count > 20 ||\n            (prevState && prevState !== state)) {\n        clearInterval(interval);\n        return;\n    }\n    node.send(\n        {\n            payload: {\n                entity_id: \"light.test_light_om100\",\n                brightness_step_pct: state === \"up\" ? 5 : -5,\n                transition: 0.1\n            }\n        }\n    );\n    prevState = state;\n    count++;\n}, 100)\n","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["ef4d1cec.8bf57"]]},{"id":"ef4d1cec.8bf57","type":"api-call-service","z":"a473e276.79e8","name":"Light Service","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"$.msg.payload","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":120,"wires":[[]]},{"id":"c6e23df8.ec553","type":"change","z":"a473e276.79e8","name":"Set flow values","rules":[{"t":"set","p":"state","pt":"flow","to":"$substring($.msg.topic, -2) = \"up\" ? \"up\" : \"down\" ","tot":"jsonata"},{"t":"set","p":"start","pt":"flow","to":"data.new_state.last_changed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["d5f6a7ca.e41c08"]]},{"id":"28c9b403.a43a2c","type":"function","z":"a473e276.79e8","name":"Set light 100% on if < 200 ms","func":"const state = flow.get(\"state\");\nconst start = flow.get(\"start\");\n\nif (!start || !state) {\n    return;\n}\n\nconst startDate = Date.parse(start);\nnode.warn(Date.now() - startDate);\n\n// If the button was held down for less than 200ms\nif (Date.now() - startDate < 200) {\n    node.send({\n        payload: {\n            entity_id: \"light.test_light_om100\",\n            brightness: state === \"up\" ? 255 : 0,\n            transition: 0.2\n        }\n    });\n}\n","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["4c8656e6.d522a8"]]},{"id":"eb153251.8ff2a","type":"server-state-changed","z":"2d36f17e.856d8e","name":"Baby Bouncer Change","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.baby_bouncer","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":110,"y":160,"wires":[["5f3caeb6.1041b"]]},{"id":"5f3caeb6.1041b","type":"api-call-service","z":"2d36f17e.856d8e","name":"Set PWM Delay","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"esphome","service":"esp32_1_set_gpio13_pwm_delay","entityId":"","data":"{\"speed\":\"{{ entity.input_number.baby_bouncer | int }}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":160,"wires":[[]]},{"id":"e5cbdda0.27bf3","type":"api-current-state","z":"32ba76f4.c7286a","name":"Get sun.sun state","server":"d16fa6b7.31d7a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":180,"wires":[["6d75a474.d28cac"]]},{"id":"6d75a474.d28cac","type":"function","z":"32ba76f4.c7286a","name":"Calculate color temp percent","func":"const { data: {attributes: { elevation } } } = msg;\n\nconst colorTempPercentRaw = elevation * 10;\nconst colorTempPercent = Math.round(\n    Math.min(Math.max(colorTempPercentRaw, 0), 100)\n);\n\nreturn { colorTempPercent };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":240,"wires":[["b72c7c1e.8e957"]]},{"id":"69352564.f6f8f4","type":"api-current-state","z":"bbb50720.f88368","name":"Current State Switch Off","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_4_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":439,"y":240,"wires":[["1a6085c1.94738a"],[]]},{"id":"1a6085c1.94738a","type":"api-call-service","z":"bbb50720.f88368","name":"Turn On Heater","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_s31_4_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":709,"y":240,"wires":[[]]},{"id":"fef582bc.de0db8","type":"api-current-state","z":"bbb50720.f88368","name":"Current State Switch On","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sonoff_s31_4_relay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":475,"y":120,"wires":[["4cde3ea.6bdacc"],[]]},{"id":"4cde3ea.6bdacc","type":"api-call-service","z":"bbb50720.f88368","name":"Turn Off Heater","server":"d16fa6b7.31d7a8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_s31_4_relay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":705,"y":120,"wires":[[]]},{"id":"a33d44b0.40b268","type":"switch","z":"bbb50720.f88368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"msg.setpoint + 0.5","vt":"jsonata"},{"t":"lt","v":"msg.setpoint - 0.5","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":875,"y":180,"wires":[["fef582bc.de0db8"],["69352564.f6f8f4"]]},{"id":"b1a69e77.f2361","type":"server-state-changed","z":"bbb50720.f88368","name":"Temperature Change","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.master_bedroom_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":140,"wires":[["e909cb88.f101b"]]},{"id":"e909cb88.f101b","type":"api-current-state","z":"bbb50720.f88368","name":"Is Temperature Control on","server":"d16fa6b7.31d7a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.temperature_control","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":415,"y":180,"wires":[["7162d25.f4448ac"],[]]},{"id":"7162d25.f4448ac","type":"api-current-state","z":"bbb50720.f88368","name":"Get Temperature Setpoint","server":"d16fa6b7.31d7a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.master_bedroom_temperature","state_type":"num","state_location":"setpoint","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":675,"y":180,"wires":[["a33d44b0.40b268"]]},{"id":"c9df81e0.2a16b","type":"api-current-state","z":"bbb50720.f88368","name":"Get Temperature","server":"d16fa6b7.31d7a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.master_bedroom_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":130,"y":200,"wires":[["e909cb88.f101b"]]},{"id":"e429a70b.4abe58","type":"server-state-changed","z":"bbb50720.f88368","name":"Temperature Control Changed","server":"d16fa6b7.31d7a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.temperature_control","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":280,"wires":[["c9df81e0.2a16b"]]}]